*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  background-color: #e8e8e8;
  overflow: scroll;
}

main {
  width: 80%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20vh;
  background-color: white;
}

li {
  list-style: none;
}

.navbar {
  width: 98vw;
  margin-top: 5vh;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 5vh;
  border-radius: 10px;
  background-color: #056CF2;
  justify-self: center;
  box-shadow: 5px 5px 20px #949494db;
  z-index: 100;
}

.nav-list {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.item-list {
  margin: 0;
  color: white;
}

.item-list img {
  width: 35px;
  margin: 0;
}

#own-logo {
  width: 50px;
}

.introduce {
  width: 100%;
  margin-top: 25vh;
  padding: 10px;
  display: flex;
}

.introduce-shapes {
  width: 17vw;
  min-width: 40px;
  height: 30vh;
  max-height: 200px;
  background-color: #056CF2;
  position: relative;
  right: 5vw;
}

.my-name {
  width: 60%;
}

.my-name h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 70px;
}

.my-name h1 {
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 80px;
  margin-left: 4vw;
}

.my-name h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 4vw;
  margin-top: 30px;
  text-decoration: overline;
  background-color: #056CF2;
  color: white;
  padding: 10px 30px 0 30px;
}

.about-me {
  width: 100%;
  margin-top: 5vh;
  margin-left: 2vw;
  padding: 20px 30px;
  text-align: left;
  /* font-family: "Inter", sans-serif; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: #056CF2;
}

/* .about-me hr {
  width: 40%;
  height: 5px;
  border-radius: 5px;
  background-color: #056CF2;
  border: none;
} */

.about-me p {
  width: 90%;

}

.tools {
  width: 86vw;
  padding: 8vh 2vw;
  margin: 10vh 0;
  display: flex;
  justify-content: space-around;
  background-color: #056CF2;
  color: white;
  border-radius: 5px;
}

.tools-group {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* font-family: "Inter", sans-serif; */
  text-align: center;
  gap: 20px;
  font-size: 0.9rem;
  line-height: 20px;
}

.tools-group span {
  padding: 10px;
  border-radius: 10px;
  font-size: 3vw;
  background-color: white;
  color: #056CF2;
}

hr {
  width: 85vw;
  height: 6px;
  margin: 40px 0;
  background-color: #056CF2;
  border: none;
  border-radius: 5px;
}

.projects {
  width: 100%;
}

.projects hr {
  display: inline-block;
  width: 2vw;
  margin-right: 1.5vw;
  /* margin-top: 10vh; */
  height: 6px;
  background-color: #056CF2;
  border: none;
}

.projects h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  color: black;
}

.projects-container {
  width: 85vw;
  padding: 50px 0;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  right: 5vw;
  row-gap: 7vh;
}

.card-project {
  width: 30%;
  height: 20vh;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #949494db;
}

.card-project:hover {
  transform: scale(1.05);
}

.name-container,
.img-container {
  height: 100%;
}

.img-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
}

.name-container {
  width: 60%;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  font-size: 1.2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #056CF2;
  color: white;
  gap: 12px;
}

.img-container img {
  width: 5vw;
}

.open-project {
  width: max-content;
  padding: 8px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.open-project:hover {
  background-color: #e8e8e8;
  font-weight: 800;
}

footer {
  width: 100vw;
  margin-top: -20vh;
  padding: 50px 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #056CF2;
  color: white;
  gap: 8vw;
}

.logo-footer img {
  width: 8vw;
}

.contact ul {
  display: flex;
  align-items: flex-start;
  gap: 5vw;
}

.contact li {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-weight: 600;
}

.contact li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: white;
}

@media (max-width: 1300px) {
  .projects-container {
    right: 7vw;
  }

  .name-container h4 {
    font-size: 0.9rem;
  }
}

@media (max-width: 850px) {
  .projects-container {
    right: 7vw;
  }

  .introduce-shapes {
    width: 17vw;
    min-width: 40px;
    height: 30vh;
    max-height: 200px;
    background-color: #056CF2;
    position: relative;
    right: 8vw;
  }

  .my-name h3 {
    font-size: 2.5rem;
  }

  .my-name h1 {
    font-size: 4.5rem;
    line-height: 68px;
  }

  .my-name h2 {
    font-size: 1.2rem;
  }

  .about-me p {
    font-size: 0.9rem;
  }

  .card-project {
    width: 47%;
    height: 20vh;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #949494db;
  }

  .tools {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
  }

  .tools-group {
    width: 60%;
  }
}

@media (max-width: 500px) {
  main {
    width: 90%;
    padding: 0 10px;
  }

  .introduce {
    flex-direction: column;
  }
  
  .introduce-shapes {
    min-width: none;
    width: 100px;
    right: 12vw;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .my-name {
    width: 100%;
  }

  .my-name h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 40px;
    margin-left: 0;
  }

  .my-name h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 50px;
    margin-left: 15px;
  }
  
  .my-name h2 {
    font-size: 1rem;
    margin-left: 15px;
  }

  .about-me {
    margin-top: 2vw;
    padding: 20px 10px;
  }

  .projects hr {
    display: inline-block;
    width: 10vw;
    margin-right: -5vw;
    /* margin-top: 10vh; */
    height: 6px;
    background-color: #056CF2;
    border: none;
  }

  .projects h2 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
  }
  
  .projects-container {
    width: 85vw;
    padding: 50px 0;
    margin-bottom: 50px;
    margin-left: 27px;;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5vh;
  }

  .card-project {
    width: 100%;
  }

  .img-container img {
    width: 20vw;
  }

  .tools {
    width: 95vw;
    margin: 25px 0;
  }

  footer {
    flex-direction: column;
  }

  .contact ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vw;
  }
  
}